# COMPILED BYTECODE FOR IMPORTS #
#################################
*.pyc

# SAVED FILES & NOTEBOOKS #
###########################
*.pt
*.ipynb

# DIRECTORIES #
###############
legacy/

# IMAGES #
##########
*.png
prompt.txt